<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Vue Todo List</title>

        <link rel="stylesheet" href="./index.css">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    </head>
    <body>
        <div id="app">
            <div class="app__container">
                <h1 class="app__container-title">Todo List</h1>
                <div v-if="!isEditing">
                    <input type="text" v-model="todo">
                    <input type="submit" value="add" @click="storeTodo">
                </div>
                <div v-else>
                    <input type="text" v-model="todo">
                    <input type="submit" value="update" @click="updateTodo">
                </div>

                <ol>
                    <li v-for="(todo, index) in todos">
                        {{ todo }}
                        <button @click="editTodo(index, todo)">
                            Edit
                        </button>
                        <button @click="removeTodo(index)">Delete</button>
                    </li>
                </ol>

            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
        <script type="module" src="index.js"></script>
    </body>
</html>
